.video-outer {
    position: relative;

    video {
        object-fit: contain;
    }

    .dot {
        top: -50px;
        left: 0;
        position: absolute;
        height: 100px;
        width: 20px;
        background-color: #fff;
        transition: transform 0.05s linear;
    }
}