.video-outer {
    position: absolute;

    /*mirror the screen*/
    // transform: scale(-1, 1);

    video {
        object-fit: cover;
    }
}

.test-info {
    background-color: #000;
    color: #fff;
    opacity: 0.75;
    text-align: center;
    z-index: 100;
}